@import 'typography';
@import 'variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: 'LibreBaskerville', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $white;
  color: $black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding-block: 40px;
  border-bottom: 1px solid $secondary;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: clamp(1.8rem, 5vw, 3.5rem);
  line-height: 1.2em;
  text-wrap: balance;
}

h2 {
  font-size: 3.5rem;
  line-height: 1.2em;
  text-wrap: balance;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.2em;
  text-wrap: balance;
}

.wrapper {
  width: min(1440px, 100% - 80px);
  margin-inline: auto;
}

h1,
h2,
h3 {
  font-weight: bold;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.text {
  &--primary {
    font-size: 0.875rem;
    line-height: 2em;
    color: $primary;
  }

  &--secondary {
    font-size: 0.94rem;
    line-height: 1.25em;
    color: $black;
  }

  &--tertiary {
    font-size: 0.81rem;
    line-height: 1.3em;
    color: $black;
  }
}

.btn {
  font-family: 'LibreBaskerville', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  transition: opacity $transitionTime;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:disabled {
    opacity: 0.3;
  }

  &__view {
    font-size: 0.625rem;
    letter-spacing: 2.14px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    padding: 16px;
    background-color: $black;
    color: $white;
    opacity: 0.7;

    img {
      width: 12px;
      height: 12px;
    }

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
}

.logo {
  width: 8rem;
}

.link {
  font-family: 'LibreBaskerville', sans-serif;
  font-weight: bold;
  color: $primary;

  &--slideshow {
    font-size: clamp(0.5rem, 3vw, 0.75rem);
    line-height: 1.25em;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    transition: color $transitionTime;

    &:hover,
    &:focus {
      color: $black;
    }
  }

  &--source {
    font-size: 0.56rem;
    line-height: 1.2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: color $transitionTime;

    &:hover,
    &:focus {
      color: $black;
    }
  }

  &--disabled {
    opacity: 0.2;
    pointer-events: none;
  }
}

.galleria-grid {
  position: relative;
  margin-top: 40px;
  margin-inline: auto;

  &__card {
    position: absolute;
    height: fit-content;
    width: 100%;
    margin-bottom: 40px;
    transition: opacity $transitionTime;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    figure {
      margin: 0;
      display: block;
      width: 100%;
      height: 100%;
      margin-bottom: 0px;

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
      }
    }

    div {
      position: absolute;
      bottom: 32px;
      left: 32px;

      h3 {
        width: 80%;
        color: $white;
      }

      p {
        margin-top: 6px;
      }
    }
  }
}

.picture-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  padding-block: 50px;

  &__left {
    position: relative;
    max-width: 633px;
    margin-inline: auto;

    & > div {
      height: min(100%, 560px);
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 475px;
    margin-inline: auto;
    margin-top: 6rem;

    &::after {
      content: attr(data-year);
      font-size: clamp(7rem, 15vw, 12.5rem);
      font-weight: bold;
      line-height: 0.75em;
      position: absolute;
      top: 50px;
      right: 0;
      color: $tetriary;
    }

    p {
      margin-top: 115px;
      margin-bottom: 40px;
      z-index: 1;
    }

    a {
      align-self: flex-start;
    }
  }

  &__figure {
    position: relative;
    height: 100%;

    div {
      position: absolute;
      bottom: 0;
      left: -1px;
      transform: translateY(50%);
      width: 90%;
      padding: 30px;
      background-color: $white;
    }
  }

  &__view {
    position: absolute;
    top: 16px;
    left: 16px;
  }

  &__artist-img {
    position: absolute;
    width: min(100%, 64px);
    height: auto;
    aspect-ratio: 1/1;
    transform: translate(0%, 100%);
  }
}

.slideshow {
  position: relative;
  border-top: 1px solid $secondary;
}

.slideshow-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding-block: 24px;

  p {
    margin-top: 8px;
  }

  &__button {
    display: inline-block;
    transition: 0.3s opacity;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:first-of-type {
      transform: rotate(180deg);
      margin-right: 20px;
    }
  }

  & > div:last-of-type {
    min-width: fit-content;
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: $black;
  transform-origin: left;
  transform: scaleX(0%);
}

.loading-animation {
  animation: loading 10s ease-in forwards;
}

.modal {
  position: fixed;
  inset: 0;
  width: 100%;
  aspect-ratio: 1/1;
  margin: auto;
  border: none;
  overflow: hidden;
  z-index: 10;

  button {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 16px;
  }
}

dialog:-internal-dialog-in-top-layer::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

[inert],
[inert] * {
  opacity: 0.7;
  pointer-events: none;
  cursor: default;
  user-select: none;
}

@keyframes loading {
  100% {
    transform: scaleX(100%);
  }
}

@media (min-width: 768px) {
  .logo {
    width: auto;
  }

  .galleria-grid {
    &__card {
      width: 25%;
    }
  }

  .picture-container {
    &__left {
      & > div {
        width: min(100%, 475px);
      }
    }

    &__right {
      margin-top: 0rem;

      p {
        margin-right: auto;
      }
    }

    &__figure {
      div {
        position: absolute;
        top: -1px;
        bottom: auto;
        right: 0;
        transform: translateX(50%);
        max-width: 445px;
        padding: 0 0 65px 65px;

        figcaption {
          margin-bottom: 12px;
        }
      }
    }

    &__view {
      top: auto;
      bottom: 16px;
    }

    &__artist-img {
      right: 0;
      bottom: 50%;
      width: min(100%, 128px);
      transform: translate(0%, 100%);
    }
  }

  .slideshow-nav {
    &__button {
      &:first-of-type {
        margin-right: 40px;
      }
    }
  }

  .modal {
    width: 55%;
  }
}

@media (min-width: 1280px) {
  .picture-container {
    flex-direction: row;
    padding-block: 100px;

    &__right {
      max-width: 475px;

      &::after {
        top: 0;
        right: 0;
      }

      p {
        max-width: 375px;
      }
    }

    &__figure {
      div {
        transform: translateX(85%);
      }
    }

    &__artist-img {
      bottom: 0;
      transform: translate(0%, 50%);
    }
  }
}
