---
import { convertToSlug, getNextPageName, getPreviousPageName } from '../scripts/main';

interface Props {
  title: string;
  artist: string;
  index: number;
}

const { title, artist, index } = Astro.props;

const previousPageName = getPreviousPageName(index);
const nextPageName = getNextPageName(index);
---

<div class="slideshow">
  <span class="loader"></span>
  <div class="slideshow-nav wrapper">
    <div>
      <h3>
        {title}
      </h3>
      <p class="text--primary">
        {artist}
      </p>
    </div>
    <div>
      <a
        href={previousPageName && `/galleria/${convertToSlug(previousPageName)}`}
        class=`btn btn--prev slideshow-nav__button ${previousPageName ? '' : 'link--disabled'}`
        aria-label="previous slide"
      >
        <img src="/icons/arrow-right.svg" alt="" aria-hidden="true" />
      </a>
      <a
        href={nextPageName && `/galleria/${convertToSlug(nextPageName)}`}
        class=`btn btn--next slideshow-nav__button ${nextPageName ? '' : 'link--disabled'}`
        aria-label="next slide"
      >
        <img src="/icons/arrow-right.svg" alt="" aria-hidden="true" />
      </a>
    </div>
  </div>
</div>
